.cache-master-info-bar {
  clear: both;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cache-master-info-bar .version-info {
  margin-right: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
}
.cache-master-info-bar .cache-master-logo {
  height: 60px;
}
.cache-master-info-bar a {
  text-decoration: none;
  margin-right: 10px;
}

.scm-wrap h2 {
  border-bottom: 1px #dddddd solid;
  font-size: 19px;
  padding: 10px 0;
}
.scm-wrap .driver-status-container {
  width: 100%;
  max-width: 750px;
  margin: 20px 0;
}
.scm-wrap .driver-status-box {
  border: 1px #dddddd solid;
  margin: 2px;
  background-color: #ffffff;
  padding: 10px;
  display: inline-block;
  width: 150px;
}

.scm-code-block {
  background-color: #ffffff;
  font-size: 0;
  padding: 10px;
  border-left: 5px #007eff solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 0;
}
.scm-code-block code, .scm-code-block pre {
  background-color: transparent;
  font-size: 13px;
}
.scm-code-block pre {
  margin: 0 !important;
  padding: 0 !important;
}
.scm-code-block code {
  padding: 10px;
  margin: 10px;
}

#scm-expert-mode-page img {
  border: 1px #dddddd solid;
  padding: 5px;
}
#scm-expert-mode-page ul {
  list-style-type: circle;
  padding-left: 40px;
}

.scm-no {
  color: #990000;
  font-weight: bold;
}

.scm-yes {
  color: #009900;
  font-weight: bold;
}

.scm-warning {
  color: #990000;
}

.scm-info {
  color: #009900;
}

.scm-expert-mode-intro {
  width: 100%;
  max-width: 600px;
}
.scm-expert-mode-intro p {
  font-size: 14px;
}

.table-stats-wrapper {
  border: 1px #dddddd solid;
  width: 100%;
  background-color: #f8f8f8;
}
.table-stats-wrapper td {
  vertical-align: top;
  padding: 10px !important;
}
.table-stats-wrapper td h2 {
  margin: 0;
}
.table-stats-wrapper td .form-table th {
  width: auto;
}
.table-stats-wrapper td label {
  display: none;
}
.table-stats-wrapper .stats-l {
  width: 70%;
}
.table-stats-wrapper .stats-l table tr:nth-child(even) {
  background-color: #ffffff;
}
.table-stats-wrapper .stats-r {
  width: 30%;
}
@media screen and (max-width: 782px) {
  .table-stats-wrapper .stats-l, .table-stats-wrapper .stats-r {
    width: 100%;
    display: block;
    padding: 0;
  }
  .table-stats-wrapper .stats-l h2, .table-stats-wrapper .stats-r h2 {
    margin: 10px 0;
  }
}

.table-stats {
  width: 100%;
  border: 1px #cccccc solid;
  background-color: #f5f5f5;
}
.table-stats th {
  background-color: #dddddd;
  text-align: center;
  padding: 10px;
}
.table-stats td {
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 782px) {
  .table-stats {
    width: calc(100% - 20px);
  }
}

.table-statistics {
  width: 100%;
  border: 1px #dddddd solid;
}
.table-statistics h2 {
  display: none;
}
.table-statistics td {
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}

.scm-option-item {
  padding: 2px 0;
}
.scm-option-item input[type="radio"] {
  margin: 0 !important;
}
.scm-option-item input[type="checkbox"] {
  margin: 0 !important;
}

.about-us-container {
  max-width: 640px;
  margin: 20px auto;
  padding: 0;
  border: 1px #dddddd solid;
  background-color: #ffffff;
  line-height: 150%;
  position: relative;
}
.about-us-container .shieldon-cover img {
  width: 100%;
}
.about-us-container .shieldon-author {
  padding: 30px;
  position: relative;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.about-us-container .shieldon-author a {
  text-decoration: none;
}
.about-us-container .shieldon-author p {
  font-size: 16px;
}
.about-us-container .shieldon-author .created-by {
  font-size: 20px;
}
.about-us-container .shieldon-author .info-links {
  text-align: center;
}
.about-us-container .shieldon-author .info-links ul {
  list-style: none;
  display: inline-block;
}
.about-us-container .shieldon-author .info-links li {
  float: left;
  padding: 10px;
}
.about-us-container .shieldon-author .info-links a {
  font-size: 35px;
  color: #aaaaaa;
}
.about-us-container .shieldon-author .info-links:after {
  content: '';
  display: block;
  clear: both;
}
.about-us-container .shieldon-author .report-area {
  margin-top: 50px;
}
.about-us-container .shieldon-author .report-area span {
  margin: 10px;
  border: 1px #dddddd solid;
  padding: 20px;
  font-size: 30px;
  width: 150px;
  overflow: hidden;
  display: inline-block;
}

.scm-option-example {
  margin: 10px;
  border: 1px #dddddd solid;
  padding: 5px;
  font-style: italic;
  border-radius: 3px;
  background-color: #f5f5f5;
}
.scm-option-example img {
  margin-top: 5px;
  border: 0;
  border-radius: 3px;
}

.scm-total-size {
  font-weight: 600;
  background-color: #fffce7;
}

.scm-badge {
  background-color: #eee;
  color: #009900;
  border: 1px #dddddd solid;
  padding: 1px 4px;
  font-size: 12px;
  border-radius: 3px;
}

.scm-label-wrapper {
  width: 100%;
  max-width: 120px;
  display: inline-block;
}

.scm-texatrea {
  border: 1px #cccccc solid;
  border-right: 2px #ffffff solid;
  border-bottom: 2px #ffffff solid;
  background-color: #f5f5f5;
  border-radius: 0;
}
.scm-texatrea:focus {
  outline: none !important;
  background-color: #ffffff;
  border: 1px #dddddd solid !important;
  border-right: 2px #ffffff solid !important;
  border-bottom: 2px #ffffff solid !important;
  box-shadow: none !important;
}

.scm-msg {
  padding: 5px;
  margin: 10px 0;
  display: inline-block;
  border-radius: 3px;
}
.scm-msg.scm-msg-error {
  border: 1px #990000 solid;
  color: #990000;
}
.scm-msg.scm-msg-info {
  border: 1px #009900 solid;
  color: #009900;
}
.scm-msg.scm-msg-notice {
  border: 1px #99984e solid;
  color: #99984e;
}

.scm-table-ttl-example {
  margin: 10px;
  border: 1px #dddddd solid;
  padding: 5px;
  border-radius: 3px;
  background-color: #f5f5f5;
}
.scm-table-ttl-example th {
  background-color: #dddddd;
  text-align: center;
  padding: 10px;
}
.scm-table-ttl-example td {
  text-align: center;
  padding: 10px;
}
