

.cache-master-info-bar {
	clear: both;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.version-info {
		margin-right: 20px;
		padding: 10px;
		background-color: rgba(255, 255, 255, 0);
	}

	.cache-master-logo {
		height: 60px;
	}

	a {
		text-decoration: none;
		margin-right: 10px;
	}
}

.scm-wrap {

	h2 {
		border-bottom: 1px #dddddd solid;
		font-size: 19px;
		padding: 10px 0;
	}

	.driver-status-container {
		width: 100%;
		max-width: 750px;
		margin: 20px 0;
	}

	.driver-status-box {
		border: 1px #dddddd solid;
		margin: 2px;
		background-color: #ffffff; 
		padding: 10px; 
		display: inline-block; 
		width: 150px;
	}
}

.scm-code-block {
	background-color: #ffffff;
	font-size: 0;
	padding: 10px;
	border-left: 5px #007eff solid;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	code, pre {
		background-color: transparent;
		font-size: 13px;
	}

	code {
		padding: 10px;
		margin: 10px;
	}
}

#scm-expert-mode-page {
	img {
		border: 1px #dddddd solid;
		padding: 5px;
	}
}

.scm-expert-mode-intro {
	width: 100%;
	max-width: 600px;

	p {
		font-size: 14px;
	}
}

.table-stats {
	width: 100%;
	border: 1px #dddddd solid;


	th {
		background-color: #dddddd;
		text-align: center;
		padding: 5px;
	}

	td {
		text-align: center;
		padding: 10px;
	}
}

.table-statistics {
	width: 100%;
	border: 1px #dddddd solid;

	h2 {
		display: none;
	}

	td {
		vertical-align: top;
		padding-left: 10px;
		padding-right: 10px;
	}
	
}

.scm-option-item {
	padding: 2px 0;

	input[type="radio"] {
		margin: 0 !important;
	}

	input[type="checkbox"] {
		margin: 0 !important;
	}
}